.artistPageMainDiv{
  margin-top: 5%;
  width: 100%;
  height: fit-content;
  position: relative;
  text-align: center;
  overflow: scroll;
}

.artistImgAndName{
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  margin-bottom: 2%;
}

.artistImgAndName h1{
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
  max-width: 100%;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.98);
}

.songsDiv{
  display: flex;
  height: 65px;
}

.songsDiv h1{
  width: 100%;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 4px 7px #000000;
  margin-right: 35%;
}

.songsDiv button{
  width: 25%;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  background-color: transparent;
  color: #FFFFFF;
  border: 0;
  text-shadow: 0px 1px 2px #670994;
}

.artistsSongs{
  margin-left: 15%;
  width: 60%;
  height: fit-content;
  padding: 1%;
  background: rgba(0, 0, 0, 0.53);
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.aboutH1{
  margin-bottom: 0;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;  
  text-align: center;
  color: #FFFFFF;


}

.aboutTextDiv{
  height: fit-content;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-left: 15%;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.53);
  width: 70%;
  margin-bottom: 50%;
}

.sharePlatform li a{
  text-decoration: none;
  list-style-type: square ;
  padding: 5px
}

.sharePlatform ul{
  list-style-type: none;  
  padding: 0;
}