
.playlistDiv{
  position:absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 48%;
  left: 4%;
  top: 30%;

  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.53);

}
.playlist{

  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;

  
  filter: drop-shadow(0px 4px 7px rgb(12, 12, 12)); 
}
.playlistNameDiv1{
  max-width: 65%;
  min-width: 65%;
  display:flex;
  left: 0%;
  margin-top: -37%;
  margin-bottom: 6%;
}
button{
  cursor:pointer;
  filter:none;
}
.buttonsDiv {
  
  display: flex;
  max-width: 65%;
  min-width: 65%;

  margin-top:5%; 
  margin-left:23%;
  flex-wrap: wrap;
  gap:8px;
   
}
.buttonsDiv button{

  
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid #000000;
  box-sizing: border-box;
  width:108px;
  height:70px;
}
.addPlaylist{
  font-size: 2.2rem;
}
.addName{
  font-size: 1.2rem;
}
