.playlistDiv{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 48%;
  left: 2%;
  top: 30%;

  background: rgba(0, 0, 0, 0.53);

}
h1.playlist{

  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  text-align: center;

  color: #FFFFFF;
  filter: drop-shadow(0px 4px 7px rgb(12, 12, 12)); 
}
.playlistNameDiv1{
  max-width: 65%;
  min-width: 65%;
  display:flex;
  position: relative;
  left: 0%;
  margin-top: -6%;
  margin-bottom: 7%;
}
button{
  cursor:pointer;
  filter:none;
}
.buttonsDiv {
  position: relative;
  display: flex;
  max-width: 65%;
  min-width: 65%;

  top: 1%; 
  left:23%;
  flex-wrap: wrap;
  gap:8px;
  
  
}
.buttonsDiv button{

  color:white;
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid #000000;
  box-sizing: border-box;
  width:108px;
  height:70px;
}
.addPlaylist{
  font-size: 2.2rem;
}
.addName{
  font-size: 1.2rem;
}
