@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* Input div (Searchbar) */
.parentOne{
  width: 100%;
  height:fit-content;
  position:relative;
  text-align: center;
}

.songClick{
  padding: 5px;
}

.parentOne input{
  position: relative;
  margin-top: 0%;
  margin-bottom: 2%;
  max-width: 65%;
  min-width: 65%;
  height: 45px;
  background: #000000;
  box-shadow: 0px 2px 22px #FFFFFF;
  border-radius: 25px;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #350E88;
}

.parentOne .searchBtn{
  background:url('/src/image/searchbutton.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 2%;
  right: 19%;
  width: 35px;
  height: 35px;
}

.childOne-1{
  margin-left: 15%;
  width: 70%;
  height: 270px;
  overflow: scroll;
  margin-bottom: 2%;
  border-radius: 11px;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}


/* Parent div (Song and buttons) */
.parentTwo{
  text-align: left;
  border: 1px solid red;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  width: 65%;
  height: fit-content;
  margin-bottom: 2%;
  display:inline-block;
}

.newSongDiv{
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin-bottom: 2%;
  filter: drop-shadow(0px 4px 7px rgb(12, 12, 12)); 
  border-bottom: black solid 1px;
  flex-shrink: 1;
}



/* Song name */
.childTwo-1{
  width: 85%;
}

.songNameDiv{
  color: white;
  text-decoration: none;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 7%;
}

.artistNameDiv{
  color: white;
  text-decoration: none;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 7%;
}


/* Queue and playlist buttons */
.childTwo-2{
  width: 15%;
  display: none;
}

.songClick button{
  background: black;
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  /* border: 1px dotted #670994; */
  color: white; 
  -webkit-text-stroke: 0.3px #670994;
}
.backBtn{
  background: url("/src/image/backbutton.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor:pointer;
  width: 75px;
  height: 70px;
  border: 0;
  margin-top:-10%;
  margin-left:82%;
}

.songClick{
  color: white;
  padding: 5%;
  width: 100%;
  display: inline;
}

.songClick .addButton{
margin-top: 3%;
font-size: 36px;

}