
.songDiv123{
display:flex;
justify-content: center;
width: 100%;

}
h1.songName{
font-family:'Julius Sans One', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 39px;
text-align: center;
padding: 10px;
margin: 0;
color: #FFFFFF;
text-shadow:-1px -1px 0 #350E88,
0 -1px 0 #350E88,
1px -1px 0 #350E88,
1px 0 0 #350E88,
1px 1px 0 #350E88,
0 1px 0 #350E88,
-1px 1px 0 #350E88,
-1px 0 0 #350E88;

}
button{
  cursor:pointer;
  filter:none;
}
.textButtons {

display: flex;
justify-content: space-between;
padding: 1%;
padding-left: 5%;
padding-right: 5%;

}
.textButtons button{
font-family: Julius Sans One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 15px;
text-align: center;
background-color:black;
border: 0;

color: #FFFFFF;
-webkit-text-stroke-width: 0.3px;
-webkit-text-stroke-color: #350E88;
filter: drop-shadow(0px 5px 7px rgba(140, 0, 255, 5)); 
border: 0px transparent solid;
background-color: transparent;
}

.parent{
position: absolute;
width: 100%;
height: fit-content;
bottom: 0;
text-align: center;
align-content: center;

background: #000000;
box-shadow: 0px -14px 47px #FFFFFF;
border-top: 1px solid #350E88;
}
.playItems{

  display:flex;
  justify-content: center;
  gap:8px;

}
.prevButt{
  background: url("./image/previousbutton.png");
 background-repeat: no-repeat;
background-size: 100%;

width: 70px;

height: 70px;
order:1;
border: 0;
}
.nextButt{
background: url("./image/nextbutton.png");
 background-repeat: no-repeat;
background-size: 100%;

width: 70px; 

height: 70px; 
order: 3;
border: 0;
}
.playButt{
  background: url("./image/playbuttonround.png");
 background-repeat: no-repeat;
background-size: 100%;
;

width: 70px;

height: 70px;
order: 2;
border: 0;
}


