/* ownPlaylist */
.playlistDiv{
position: absolute;
width: 80%;
height: 60%;
left: 9%;
top: 93px;
max-width:65;
min-width: 65%;
background: rgba(0, 0, 0, 0.53);
border-radius: 14px;
}
button{
  cursor:pointer;
  filter:none;
}

/* playlist name */
.playlistNameDiv{
position: relative;
width: 219px;
height: 32px;
max-width:65;
min-width: 65%;
left: 25%;
top: 3%;

}
.playlistNameDiv button{
font-family: Julius Sans One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: center;
background:none;
border:none;
color: #FFFFFF;
}


.saveBtnDiv{
/* Rectangle 8 */
display:flex;
position: relative;
width: 60px;
height: 29px;
left: 78%;
top: -6%;

background: rgba(0, 0, 0, 0.75);
border: 1px solid #000000;
box-sizing: border-box;
}

.saveBtnDiv button{
font-family: Julius Sans One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;


color: #FFFFFF;


-webkit-text-stroke-width: 0.3px;
-webkit-text-stroke-color: #670994;
text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.37);
background: rgba(0, 0, 0, 0.75);
border: 1px solid #000000;
box-sizing: border-box;

}
.songDiv1{
  
  position:relative;
  top:-6%;
  left:10%;
  max-width:65;
  min-width: 65%;
}
.songDiv2{
  position:relative;
  top:-7%;
  left:10%;
  max-width:65;
  min-width: 65%;
}
.songDiv1 p,.songDiv2 p{
  color:white;
  font-size: 1.2rem;
}
.changeBtns1 button,.changeBtns2 button{
  color:white;
  background:none;
  border:none;
}
.queueSong{
  position:relative;
 font-size: 1.6rem;
 
}
.removeSong{
  position:relative;
  font-size: 1.4rem;

}

.changeBtns1{
  display:flex;
  position:relative;
  gap:2%;
  top:-19.7%;
  left:80%;
  max-width:65;
  min-width: 65%;
}
.changeBtns2{
  display:flex;
  position:relative;
  gap:2%;
  top:-19.7%;
  left:80%;
  max-width:65;
  min-width: 65%;
}
