@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.queueDiv{

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* max-width: 50%; */
  font-family: Julius Sans One;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: white;
  
}

button{
color: white;
font-family: Julius Sans One;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

.queueMain{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 289px;
  min-height: 354px;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 11px;
  margin: 20%;
  filter: drop-shadow(0px 4px 7px rgba(2, 2, 2, 0.911)); 

}
.queueName{
  color: white;
  align-self: center;
  filter: drop-shadow(0px 4px 7px rgb(12, 12, 12)); 
 
}

.songDiv{
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  filter: drop-shadow(0px 4px 7px rgb(12, 12, 12)); 
  border-bottom: black solid 1px;
}

