@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.baseDiv{
  border: 1px solid green;
align-items: center;
position: absolute;
width: 100%;
height: 100%;
}
.title{
  text-align:center;
  margin-top:25%;
  font-size:500%;
  color:white;
  font-family:'Julius Sans One', sans-serif;
}
.title2{
  text-align:center;
  margin-top:40%;
  font-size:500%;
  color:white;
  font-family:'Julius Sans One', sans-serif;
}